body {
    background-color: #eeffee;
    font-family: arial;
}

ul {
    margin-left: 10px;
    padding-left: 0px;
    margin-top:0em;
}

li {
    font-size: 10pt;
    font-family: arial;
    padding-top: .25em;
    margin-top:0em;
}

.formfield {
    font-size: 10pt;
    font-family: serif;
    width: 100%;
}

.formtable {
    border: thin green solid;
    padding: .3em;
    width: 19em;
}

.title {
    font-size: 10pt;
    font-family: arial;
    font-weight: bold;
    color: #6060a0;
    text-align: center;
}

.result {
    font-family: serif;
    background-color: #d0d0f0;
}

.formlabel {
    font-size: 9pt;
    font-family: arial;
    font-weight: bold;
    color: #607888;
    text-align: left;
    width: 78px;
}

.optionbox {
    border: thin silver solid;
}

.optionlabel {
    font-size: 9pt;
    font-family: arial;
    font-weight: bold;
    color: #607888;
    text-align: left;
}

.optiontable {
}

.option {
    font-size: 10pt;
    font-family: arial;
}

.noteshead {
    font-size: 10pt;
    font-family: arial;
    font-weight: bold;
    padding-top: .5em;
    color: #336633;
}

.prompt {
    font-size: 10pt;
    font-family: arial;
    font-weight: normal;
    color: #222288;
    height: 40px;
}

.button {
    width: 70px;
    
}

#bump
{
	width: 4em;
}
.password {
    font-size: 10pt;
    width: 100%;
}


textarea
{
	height: 4.5em;
	word-break: keep-all;
	font-family: fixed, monospace !important;
	font-weight: normal;
	border: 1px solid;
}

#restrictPunctuation
{
	margin: 0 0 0 1.75em;
	display: grid;
	grid-template-columns: repeat(10, 1.2em);
}
label.rp
{
	cursor: pointer;
	padding: 0;
	margin: -1px 0 0 0;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
	font-family: "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
	color: dimgrey;
	border: 1px solid grey;
	background-color: silver;
	line-height: 1.2em;
	vertical-align: middle;
}
input.rp
{
	display: none;
}
label.rp:not([disabled]):hover
{
	background-color: DimGray;
	color: white;
}
label.rp[checked]:not([disabled]):hover
{
	background-color: #69B955;
	color: white;
}
label.rp[checked]
{
	background-color: #9EE09E;
	color: black;
}
#restrictPunctuation[disabled] label
{
	opacity: 0.5;
	cursor: initial;
	pointer-events: none;
}