.formlabel {
    text-align: right;
}

.formfield {
    font-weight: bold;
    min-width: 21em;
    max-width: 21em;
 		word-break: keep-all;
}

.formcheck {
}

.fieldbutton {
    min-width: 7em;
    max-width: 7em;
    vertical-align: middle;
    max-height: 2em;
}

.formrow {
    margin: 2px;
}

textbox.error
{
	box-shadow: 0 0 0.5em red;
}
textbox.saved
{
	box-shadow: 0 0 0.5em green;
}

@keyframes flash {
  0%   {box-shadow: 0 0 1em transparent;}
  50%   {box-shadow: 0 0 1em green;}
  100%   {box-shadow: 0 0 1em transparent;}
}

#hash-word
{
	font-family: fixed, monospace;;
	font-weight: normal;
	min-height: 4em;
	-moz-appearance: menupopup;
}
#hash-word.flash
{
	animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#hashWordSize
{
	width: 4em;
}
.info[disabled]
{
	cursor: help;
}

#requirementsGroup > vbox
{
	display: grid;
}
#restrictPunctuation
{
	margin: 0 0 0 2.5em;
	display: flex;
	max-width: 15em;
	flex-wrap: wrap;
}
#restrictPunctuation > checkbox
{
	-moz-appearance: none;
	cursor: pointer;
	padding: 0 0.1em 0 0;
	margin: 0;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	font-family: "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
	color: gray;
	outline: 1px solid gray;
	background-color: silver;
	box-shadow: 0 0 0.5em gray;
}
#restrictPunctuation > checkbox:not([disabled]):hover
{
	background-color: DimGray;
	color: white;
}
#restrictPunctuation > checkbox:not([disabled])[checked]:hover
{
	background-color: #69B955;
	color: white;
}
#restrictPunctuation > checkbox .checkbox-check
{
	display: none;
}

#restrictPunctuation > checkbox[checked]:not([_checked]),
#restrictPunctuation > checkbox[_checked="true"]
{
	background-color: #9EE09E;
	color: black;
	box-shadow: 0 0 0.5em silver;
}
#restrictPunctuation[disabled] > checkbox
{
	opacity: 0.5;
	cursor: initial;
	pointer-events: none;
}